* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

#menu-button {
  display: none;
}

h1, h2 {
  font-family: 'Lora';
}

li.current {
  font-weight: bold;
}

.row {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background: #fff;
  color: #000;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 1em;
}

main {
  padding: 2em 5%;
  display: flex;
  flex-wrap: wrap;
}

#content {
  background: #fff;
  color: #222;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 70%
}

aside {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30%;
  min-width: 290px;
  /* min-width: calc(250px + 4rem); */
}

#content, aside {
  padding: 2rem;

}

.aligncenter {
  display: block;
  margin: 1em auto;
}

p {
  margin-top: 1em;
}

p:first-child {
  margin-top: 0;
}

#left-menu {
  background-color: #EEEEEE;

}

img {
  max-width: 100%;
  height: auto;
}

.alignleft {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
}

.alignright {
  float: right;
  margin-right: 1em;
  margin-bottom: 1em;
}

.clearleft {
  clear:both;
}

h2 {
  clear:both;
}

ol {
  padding-top: 1em;
  margin-left: 5%;
}

footer {
  padding: 1em 20%;
  text-align: center;
  background-color: #F5F5DC;
  color: #36454F;
  clear: both;
}

.fantasy {
  color: green;
}

.criminal {
  color: red;
}

.philosophical {
  color: blue;
}

.development {
  color: orange;
}

#best {
  font-size: 18px;
  margin-bottom: 1em;
}


/*
One Page Layout
*/

#one-page {
  padding-top: 74px;
}

#one-page header {
  background-color: #364135;
  color: #FFFFFF;
	width: 100%;
	position: fixed;
	top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#one-page main {
  display: block;
  padding: 0;
}

.white {
  background-color: #FFFFFF
}

.blue {
  background-color: #082567;
  color: #FFFFFF;
}

.green {
  background-color: #CDEBA7;
}

#one-page main section {
  padding: 5rem 5%;
}

#one-page section h2 {
  text-align: center;
  margin-bottom: 1em;
}

#hello .content {
  column-count: 3;
  column-gap: 2rem;
  max-width: unset;
}

section .content {
  max-width: 750px;
  margin: 0 auto;
}

.background {
  background-image: url('https://picsum.photos/1600/500/?random');
  position: relative;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.background-content {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
  position: relative;
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #444;
  opacity: 0.4;
}

@media screen and (max-width: 800px) {

    #menu-button {
      display: block;
      background: orange;
      color: #000;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      position: relative;
    }

    #menu-button:focus {
      background: #000;
      color: #fff;
      outline: none;
    }

    #menu-button:focus + nav {
      left: 0;
    }

    #menu-button:focus i {
      transform: scale(0,0);
    }

    #menu-button:focus i ~ i {
      transform: scale(1,1);
    }

    #menu-button i {
      transition: all 0.4s;
    }

    #menu-button i ~ i {
      position: absolute;
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      top: 0;
      right: 0;
      transform: scale(0,0);
  }

    nav {
      position: absolute;
      top: 81px;
      background: orange;
      width: 100%;
      left: -100%;
      transition: all 0.3s;
    }

    nav ul li {
      display: block;
      padding: 15px 0;
    }

    #hello .content {
      column-count: 2;
    }

    .background {
      background-attachment: scroll;
    }

    .background::before {
      background-color: red;
    }

}
